<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div class="topnav" *ngIf="isLogged">

    <a (click)="loginUser()">Login</a>

    <a (click)="register()">Register</a>

    <a class="active" routerLink="home">Home</a>

    <a routerLink="contact-Us">Contact Us</a>

    <a routerLink="about-Me">About Me</a>

    <a (click)="logOutUser()">Logout</a>

    <a>{{_user.user.name}}</a>

    <img src="../../assets/Montaser.jpeg">

    <i class="fa fa-trash" aria-hidden="true" style="margin-right: 20;"><span class="delSpan">{{_todos.getDeletedPercentage()}}</span></i>

    <i class="fa-solid fa-bookmark"><span class="favSpan">{{_todos.getFavoritePercentage()}}%</span></i>

    <i class="fa fa-list" aria-hidden="true"><span class="compSpan">{{_todos.getCompletedPercentage()}}%</span></i>

  </div>
